/* this file is loaded by index.html and styles the page */

@font-face {
  font-family: "Charter";
  src: url("fonts/charter_regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

//dumnb change

* {
  box-sizing: border-box;
}

body {
  font-family: "Charter", serif;
  font-size: 21px;
  margin: 2em 1em;
  line-height: 1.5em;
}

// form {
//   background-color: #eee;
//   display: grid;
//   grid-gap: 1em;
//   padding: 1em;
//   max-width: 40ch;
// }

// input {
//   border: 1px solid silver;
//   display: block;
//   font-size: 16px;
//   margin-bottom: 10px;
//   padding: 5px;
//   width: 100%;
// }

// form button {
//   background-color: #bbbbf2;
//   border: 2px solid currentColor;
//   border-radius: .25em;
//   cursor: pointer;
//   font-size: inherit;
//   line-height: 1.4em;
//   padding: 0.25em 1em;
//   max-width: 20ch;
// }

// form button:hover {
//   background-color: lavender;
// }

// footer {
//   margin-top: 3em;
//   padding-top: 1.5em;
//   border-top: 1px solid lightgrey;
// }

main, header {
  margin: 0 auto;
  width: 50%;
}

main {
  margin-bottom: 6em;
}

header {
  width: 75%;
}

h1 {
  text-align: center;
  line-height: 1.1;
}

.img-wrap {
  max-width: 100%;
  height: auto;

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    color: grey;
    font-family: sans-serif;
    font-size: 0.6em;
    text-align: center;
    margin-top: 0;
  }
}

span.highlight {
  background-color: red;
}

.bad {
  display: block;
  font-family: "Arial", sans-serif;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2em;

  .bad-note {
    color: grey;
    display: block;
    font-family: sans-serif;
    font-size: 0.6em;
    text-transform: uppercase;
    text-align: center;
  }

  .bad-inner {
    background-color: #034f4f;
    border: 24px solid #06b306;
    color: white;
    min-height: 200px;
    opacity: 0;
  }

  &.size2 {
    width: 75%;
    min-height: 300px;
    
    .bad-inner {
      font-size: 3em;
    }
    
  }

  &.visible .bad-inner {
    opacity: 1;
  }

}

.subscribe {
  align-items: baseline;
  background-color: white;
  border-top: 1px solid grey;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  padding: 0.5em;
  position: fixed;
  bottom: -20%; left: 0;
  width: 100%;

  p {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2em;
  }
  
  .button {
    background: lightgrey;
    padding: 0.5em 0.7em;
    font-size: 0.8em; 
  }

  &.visible {
    display: flex;
    bottom: 0;
    transition: 0.5s bottom;
  }
}

.replace {
  color: grey;
  font-style: italic;
}

hr {
  border: 0px solid transparent;
  border-bottom: 1px solid black;
  margin: 3em 2em;
}