/* this file is loaded by index.html and styles the page */
@font-face {
  font-family: "Charter";
  src: url("fonts/charter_regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

* {
  box-sizing: border-box; }

body {
  font-family: "Charter", serif;
  font-size: 21px;
  margin: 2em 1em;
  line-height: 1.5em; }

main, header {
  margin: 0 auto;
  width: 50%; }

main {
  margin-bottom: 6em; }

header {
  width: 75%; }

h1 {
  text-align: center;
  line-height: 1.1; }

.img-wrap {
  max-width: 100%;
  height: auto; }
  .img-wrap img {
    max-width: 100%;
    height: auto; }
  .img-wrap p {
    color: grey;
    font-family: sans-serif;
    font-size: 0.6em;
    text-align: center;
    margin-top: 0; }

span.highlight {
  background-color: red; }

.bad {
  display: block;
  font-family: "Arial", sans-serif;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2em; }
  .bad .bad-note {
    color: grey;
    display: block;
    font-family: sans-serif;
    font-size: 0.6em;
    text-transform: uppercase;
    text-align: center; }
  .bad .bad-inner {
    background-color: #034f4f;
    border: 24px solid #06b306;
    color: white;
    min-height: 200px;
    opacity: 0; }
  .bad.size2 {
    width: 75%;
    min-height: 300px; }
    .bad.size2 .bad-inner {
      font-size: 3em; }
  .bad.visible .bad-inner {
    opacity: 1; }

.subscribe {
  align-items: baseline;
  background-color: white;
  border-top: 1px solid grey;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  padding: 0.5em;
  position: fixed;
  bottom: -20%;
  left: 0;
  width: 100%; }
  .subscribe p {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2em; }
  .subscribe .button {
    background: lightgrey;
    padding: 0.5em 0.7em;
    font-size: 0.8em; }
  .subscribe.visible {
    display: flex;
    bottom: 0;
    transition: 0.5s bottom; }

.replace {
  color: grey;
  font-style: italic; }

hr {
  border: 0px solid transparent;
  border-bottom: 1px solid black;
  margin: 3em 2em; }

.abby-profile {
  border: 1px dotted grey;
  border-radius: 5px;
  margin: 2em 0 2em -25%;
  max-height: 500px;
  overflow: hidden;
  width: 150%; }
  .abby-profile .profile-header {
    background-color: white;
    border-bottom: 1px solid lightgrey;
    padding: 1em;
    position: sticky;
    top: 0px;
    width: 100%; }
    .abby-profile .profile-header h2 {
      font-family: "Helvetica", "Arial", sans-serif;
      font-size: 0.9em;
      margin: 0; }
    .abby-profile .profile-header h3.logo {
      background-color: white;
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
      padding: 0.4em;
      font-size: 0.7em;
      text-transform: uppercase;
      color: grey; }
  .abby-profile .profile-body {
    display: flex; }
  .abby-profile .tab-sidebar {
    flex: 0 1 auto;
    width: 10%; }
    .abby-profile .tab-sidebar .tab {
      background-color: #f7dea0;
      border-radius: 0 5px 5px 0;
      padding: 0.4em;
      font-size: 2em;
      text-align: center; }
      .abby-profile .tab-sidebar .tab.active {
        width: 110%; }
  .abby-profile .tab-body {
    flex: 0 1 auto;
    max-height: 400px;
    overflow: scroll;
    width: 90%; }
  .abby-profile ul.browsing {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding: 1em; }
    .abby-profile ul.browsing > li {
      border-bottom: 1px solid lightgrey;
      font-family: "Helvetica", "Arial", sans-serif;
      font-size: 0.9em;
      padding: 0.5em; }
    .abby-profile ul.browsing > li:hover {
      background-color: lightgrey;
      cursor: pointer; }
  .abby-profile .title {
    font-size: 0.9em;
    margin: 0; }
  .abby-profile .date, .abby-profile .platform {
    color: grey;
    font-size: 0.8em;
    margin: 0; }
  .abby-profile p {
    margin: 0; }

.embed-social {
  border: 1px solid #f09edc;
  border-radius: 15px;
  margin: 1em auto;
  width: 70%;
  margin-right: 1em; }
  .embed-social h4 {
    margin: 0; }
  .embed-social .social-header {
    background: #f09edc;
    padding: 0.7em;
    font-size: 0.9em;
    line-height: 1.2;
    border-radius: 15px 15px 0 0; }
  .embed-social .social-body {
    padding: 1.5em; }
    .embed-social .social-body p {
      margin-top: 0; }
  .embed-social .date {
    font-size: 0.7em;
    color: grey; }
  .embed-social .username {
    font-size: 0.9em;
    color: grey; }

.data-holder {
  width: 150%;
  margin-left: -25%;
  display: flex; }

blockquote {
  line-height: 1.3;
  border-left: 2px solid blue;
  padding-left: 2em;
  margin-left: 1em; }
